body {
	background-color: #fff;
	background: url('/assets/images/tallbord_lengre.svg') no-repeat -3em -4em;
}

.home__container, .game__container {
	display: grid;
	grid-template-columns: repeat(12,1fr);
	grid-template-rows: repeat(5, min-content);
	/* makes the footer stay at the bottom when the main content is not long enough.
	222px is the combined value of header and footer height. */
	min-height: calc(100vh - 222px);
	padding-top: 2em;

}

header, footer {
	text-align: center;
	padding: 1em;
}

footer {
	background-color: var(--footer-color);
}

.home__container h1, .home__container .text-box {
	grid-column: 4 / 10;
}

.home__container a {
	grid-column: 9 / 9;
}

.text-box {
	border: 5px solid var(--box-border-color);
	padding: 1.5em;
	border-radius: 30px;
}

.text-box__label {
	background-color: var(--box-border-color);
	grid-column: 9 / 10;
	text-align: center;
	border-radius: 26px 26px 0px 0px;
	margin-right: 2em;
	padding: 0.2em;

}

.game__container .text-box__label {
	grid-column: 10 / 12;
}

.text-box p {
	margin-bottom: 1em;
	margin-top: 1em;
}

.game__container h1 {
	grid-column: 3 / 6;
}

.guessForm {
	grid-column: 3 / 6;
}

.gameStatus {
	grid-column: 3 / 6;
}

.guessLog {
	grid-column: 8 / 12;
}

.highScores {
	grid-column: 8 / 12;
	display: none;
}

.winningResult {
	grid-column: 3 /6;
}

.button, .start-button {
	/* background-color: rgb(9, 73, 0); */
	background-color: var(--button-color);
	color: white;
	border-radius: 26px;
	margin: 5px;
}

.start-button {
	padding: 0.3em 2em 0.3em 2em;
	margin-top: 1em;

}
