body {
	background-color: #fff;
	background: url('/assets/images/tallbord_lengre.svg') no-repeat -3em -4em;
}

.home__container, .game__container {
	display: grid;
	grid-template-columns: repeat(12,1fr);
	grid-template-rows: repeat(5, min-content);
	/* makes the footer stay at the bottom when the main content is not long enough.
	222px is the combined value of header and footer height. */
	min-height: calc(100vh - 222px);
	padding-top: 2em;

}

header, footer {
	text-align: center;
	padding: 1em;
}

footer {
	background-color: var(--footer-color);
}

input {
	border: 1px var(--input-color) solid;
	padding: 0.2em;
	box-shadow: rgba(0,0,0,0.1) 4px 4px 2px 0px;
	margin-right: 0.7em;
}

form label {
	display: block;
	margin-bottom: 0.3em;
	margin-top: 1em;
}

.home__container h1, .home__container .text-box {
	grid-column: 4 / 10;
}

.home__container a {
	grid-column: 9 / 9;
}

.text-box {
	border: 5px solid var(--box-border-color);
	padding: 1.5em;
	border-radius: 30px;
}

.guessLog .text-box {
	display: flex;
	flex-direction: column;
}

.text-box__label {
	background-color: var(--box-border-color);
	grid-column: 9 / 10;
	text-align: center;
	border-radius: 26px 26px 0px 0px;
	margin-right: 2em;
	padding: 0.2em;

}

.game__container .text-box__label {
	grid-column: 9 / 10;
	padding-right: 1em;
	padding-left: 1em;
	grid-row: 2;
}

.text-box p {
	margin-bottom: 1em;
	margin-top: 1em;
}

.game__container h1 {
	grid-column: 3 / 6;
}

.guess__container {
	grid-column: 3 / 7;
	grid-row: 3;
}

.guessLog {
	grid-column: 7 / 10;
	grid-row: 3;
}

.gameStatus {
	margin-top: 1em;
}

.lastGuessResult {
	margin-bottom: 1em;
}

.text-box h2 {
	margin-bottom: 0.2em;
}

.highScores {
	grid-column: 8 / 12;
	display: none;
}

.text-box ol {
	padding-left: 1em;
}

.winningResult {
	grid-column: 3 /6;
	grid-row: 5;
	margin-top: 2em;
}

.button, .start-button {
	/* background-color: rgb(9, 73, 0); */
	background-color: var(--button-color);
	color: white;
	border-radius: 16px;
	margin: 5px;
	padding: 0.2em 0.8em 0.2em 0.8em;
}

.start-button {
	border-radius: 26px;
	padding: 0.3em 2em 0.3em 2em;
	margin-top: 1em;
}

.warning-button {
	background-color: var(--error-color);
	color: var(--inverse-text-color);
	border-radius: 20px;
	padding: 0.2em 0.8em 0.2em 0.8em;
	align-self: end;
	margin-top: 2em;
}
